html {
    box-sizing: border-box;
}

span {
    border: 1px black solid;
    flex-grow: 1;
    padding: 1em 1em 5em;
}

.container,
.week,
.notes {
    display: flex;
}

.container {
    max-width: 65vw;
    border: 1px black solid;
    margin: 4em auto;
    text-align: center;
    border: 1px black solid;
    align-items: stretch;
}

.week {
    flex-wrap: wrap;
    flex-basis: auto;
}

.notes {
    flex-direction: column;
    flex-basis: 30%;
}

.notes span {
    flex-basis: 50%;
}


.title {
    flex-basis: 100%;
}

.workday {
    flex-basis: 14%;
}