*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(238, 238, 238);
    height: 100vh;
    max-width: 90em;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 2em;
}

header {
    border-bottom: 0.2em solid black;
    padding: 1em 1.5em;
    margin: 0;
    text-transform: uppercase;
}

h1 {
    margin: auto;
    font-size: 2.2em;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: Times, serif;
    font-weight: 500;
    font-size: 1.6em;
}

main {
    padding: 0 1.5em;
    flex-grow: 1;
}

p {
    padding: 0.5em 0;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    padding: 0.5em 0;
    /* margin-top: auto; */
}

footer>p {
    padding: 0.5em 1.5em;
}