*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 1.5em;
    font-weight: medium;
}

p {
    font-size: 1em;
    margin: 1em 0em;
    font-family: Helvetica, sans-serif;
}

.card {
    background-color: rgb(255, 255, 255);
    padding: 0 0 1em;
    max-width: 25em;
    border: 1em solid transparent;
    border-radius: 0.5em;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.4);
}