/* *, *::after, *::before{
    margin: 0;
    padding:0
} */

* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font: 16px/1.5 Helvetica, sans-serif;
    max-width: 50vw;
    margin: auto;
}

body {
    background-color: rgb(238, 238, 238);
    margin: 4em auto;
}

h1,
h2,
h3 {
    font: 1em/1.2 Georgia, serif;
    font-weight: normal;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

main {
    flex: 1 1 50%;
    margin: 0 5em 0 0;
}

aside {
    flex: 1 1 auto;
}

p {
    margin: 0em 0 2em;
}

img {
    background-color: rgb(255, 255, 255);
    border: 0.2em solid black;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.25);
    padding: 0.5em;
}

blockquote {
    font-family: Georgia, serif;
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
    width: 50%;
}

a {
    color: rgb(0, 102, 0);
    text-decoration: none;
}

section>p:last-child {
    margin-bottom: 3em;
}

blockquote>p:last-child {
    padding-top: 0.5em;
    text-align: right;
}

.main-ul {
    list-style: none;
    display: flex;
    gap: 2em;
    margin: 0;
    padding-right: 1em;
}

.aside-ul {
    list-style: square;
    left: 2em;
}

.main-header {
    border-bottom: 0.2em solid black;
    display: flex;
    justify-content: space-between;
}

.main-header h1 {
    font-size: 2.8em;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    display: block;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.float-right {
    float: right;
    margin: 0 0 1em 1.5em;
}

.float-left {
    float: left;
    margin: 0 1.5em 1em 0;
}

blockquote.quote-right {
    float: right;
    border-left: 0.3em solid lightgray;
    padding: 0 0 2em 2em;
    text-align: left;
    margin: 0 0 0 2em;
}