body {
    background-color: lightgray;
    margin: 6em;
    font-size: 16px;
}

body,
ul,
li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

ul {
    justify-content: space-between;
    max-width: 75em;
}

li {
    padding: 2em 1em;
    min-height: 25em;
    border: 1em solid black;
    border-radius: 0.1em;
    box-shadow:
        0 0 0.5em 0 rgb(0, 0, 0, 0.4) inset,
        0 0 1em 0.4em rgb(0, 0, 0, 0.4);
    background-color: whitesmoke;
    align-items: center;
}